---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=1917762378.26cf8f3.d00d12f4337f447cb2d1edda88df192d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1917762378.26cf8f3.d00d12f4337f447cb2d1edda88df192d"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4995'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"pagination":{},"meta":{"code":200},"data":[{"attribution":null,"tags":["harrisburgmuralproject"],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1434414479","link":"https:\/\/instagram.com\/p\/3-EvEuJS7l\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s320x320\/e15\/11378549_1440876629552491_805058315_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e15\/11378549_1440876629552491_805058315_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/e15\/11378549_1440876629552491_805058315_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1434414479","text":"#harrisburgmuralproject","from":{"username":"tracymcaruso","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11376439_1629117797306440_1800201839_a.jpg","id":"1917762378","full_name":"Tracy
        Caruso"},"id":"1008264194789026841"},"user_has_liked":false,"id":"1008264193648176869_1917762378","user":{"username":"tracymcaruso","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11376439_1629117797306440_1800201839_a.jpg","id":"1917762378","full_name":"Tracy
        Caruso"}},{"attribution":null,"tags":["harrisburgmuralproject"],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1434414465","link":"https:\/\/instagram.com\/p\/3-EtSgJS7k\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/[...]
