<% provide(:title, "Murals") %>
<div class="row">
  <div class="large-12 columns">
    <%= link_to "Most Recent Art", "#" %>
  </div>
</div>

<div class="row">
    <% @murals.most_recent.each do |mural| %>
    <div class="large-6 columns murals-list">
      <h3><%= link_to mural.name, mural_path(mural) %></h3>
      <%= image_tag mural.image %>
    </div>
    <% end %>
</div>

<div class="row">
  <div class="large-12 columns">
    <div id='map' class='dark'></div>
  <script type='text/javascript'>
    var map = L.mapbox.map('map', 'examples.map-y7l23tes').setView([37.9, -77], 5);
  </script>
  </div>

</div>
