<% provide(:title, "recent art") %>

<div class="row">
  <div class="columns large-12 recently-added main">
    <h3>Recently Added Murals</h3>
  </div>
</div>

<div class="row" >
    <% @murals.most_recent.each do |mural| %>
    <div class="large-6 columns murals-list">
      <h3><%= link_to mural.name, mural_path(mural) %></h3>
      <%= image_tag mural.image %>
    </div>
    <% end %>
</div>
